<div class="exit-modal">
  <div class="header">Uygulamayı Kapat</div>

  <div class="active-bookmark" *ngIf="!!bookmarkService.activeBookmark">
    <div class="header">
      <div class="bookmark-name">{{ bookmarkService.activeBookmark.name }}</div>
      <div class="page-number">
        {{ bookmarkService.activeBookmark.pageNumber }}.sayfa da
      </div>
    </div>
    <div class="description">
      {{ bookmarkService.activeBookmark.description }}
    </div>
    <div class="action-buttons">
      <ion-button
        shape="round"
        color="primary"
        size="small"
        (click)="onUpdateAndCloseApp()"
      >
        <ion-icon slot="start" name="refresh"></ion-icon> Ayracı Güncelle ve
        Kapat
      </ion-button>
    </div>
  </div>

  <div class="action-buttons">
    <ion-button shape="round" color="danger" (click)="onCloseApp()">
      <ion-icon slot="start" name="exit"></ion-icon> Kapat
    </ion-button>
    <ion-button shape="round" color="light" (click)="onCancel()">
      <ion-icon slot="start" name="close"></ion-icon> Iptal
    </ion-button>
  </div>
</div>
