<div class="settings-menu">

    <ion-item class="night-mode-item" lines="none">
        <ion-label>Gece Modu</ion-label>
        <ion-toggle color="danger"  mode="md" (ionChange)="onChangeNightViewMode($event)"></ion-toggle>
    </ion-item>

    <div class="group-item zoom">
        <div class="section-header">
            Yakınlaştır/Uzaklaştır
        </div>
        <app-page-zoom></app-page-zoom>
    </div>

    <div class="group-item view-type">
        <div class="section-header">
            Görünen Sayfalar
        </div>
        <ion-select placeholder="seçiniz" (ionChange)="changeViewGroup($event)" [ngModel]="viewGroupName">
            <ion-select-option value="a">Sadece Arapça</ion-select-option>
            <ion-select-option value="m">Sadece Meal</ion-select-option>
            <ion-select-option value="am">Arapça ve Meal</ion-select-option>
        </ion-select>
    </div>

    <div class="group-item ">
        <div class="section-header">
            Sayfa Geçiş Yönü
        </div>
        <ion-radio-group class="page-nav-side" radio-group (ionChange)="changeNavSide($event)"
            [ngModel]="navigationSide">
            <ion-item lines="none">
                <ion-icon name="return-left"></ion-icon>
                <ion-radio color="danger" value="left"></ion-radio>
            </ion-item>

            <ion-item lines="none">
                <ion-icon name="return-right"></ion-icon>
                <ion-radio color="danger" value="right"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </div>

    <div class="group-item">
        <div class="section-header">
            Sayfalar
        </div>
        <app-page-bar></app-page-bar>
    </div>


    <div class="app-info">
        <ion-button fill="outline" size="small" (click)="onNavigateOtherAppPage()">
            <ion-icon name="apps" slot="start"></ion-icon> Diğer Uygulamalar
        </ion-button>
        <ion-button fill="outline" size="small" (click)="showMailSender()">
            <ion-icon name="mail" slot="start"></ion-icon> Geri Bildirim
        </ion-button>
    </div>

    <div class="close-button">
        <ion-button shape="round" fill="outline" (click)="onCloseMenu()">
            <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
    </div>

</div>