<div class="pdf-content">
  <div class="content-header">içindekiler</div>
  <div class="page-item" *ngFor="let page of contentPages" (click)="onSelectPage(page)">
    <div class="page-number">
      <div class="number"> {{page.pageNumber}}.</div>
      <span>sayfa</span>
    </div>
    <div class="page-title">
      <div class="title">
        {{ page.contentTitle }}
      </div>
      <div class="description" *ngIf="!!page.description">
        {{page.description}}
      </div>
    </div>
  </div>
</div>