<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onToggleContentMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Büyük Cevşen
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onToggleSettingsMenu()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="menu content-menu" [@contentMenu]='!!showContentMenu ? "show" :"hide"'
    [ngStyle]="{'height':pdfViewerHeight +'px'}">
    <app-content-menu (selectPage)="onSelectPage($event)"></app-content-menu>
  </div>

  <div class="menu settings-menu" [@settingsMenu]='!!showSettingsMenu ? "show" :"hide"'
  [ngStyle]="{'height':pdfViewerHeight +'px'}">
    <app-settings-menu></app-settings-menu>
  </div>

  <div class="finger-swipe" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)"
    (pinchin)="onZoomIn($event)" (pinchout)="onZoomOut($event)" [ngStyle]="{'height':pdfViewerHeight +'px'}">
  </div>

  <pdf-viewer [ngStyle]="{'margin-top': pdfMarginTop+'%', 'margin-left': pdfMarginLeft+'%'}" *ngIf="!!currentPage"
    #pdf_viewer src="../../assets/data/private/buyuk-cevsen.pdf" [zoom]="zoom" (page-rendered)="pageRendered()"
    [render-text]="false" [show-all]="false" [original-size]="false"
    [page]="!!currentPage ? currentPage.pageNumber : 1">
  </pdf-viewer>

  <div class="page-info" *ngIf="currentPage && currentPage.description"
    [@pageInfoAnimation]='showPageInfo ? "show" :"hide"'>
    <div class="info">
      {{currentPage.description}}
    </div>
  </div>
</ion-content>