<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onToggleContentMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      <ion-button (click)="onToggleBookmarkMenu()">
        <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onToggleSettingsMenu()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="menu content-menu"
    [@contentMenu]="!!showContentMenu ? 'show' : 'hide'"
  >
    <app-content-menu (selectPage)="onSelectPage($event)"></app-content-menu>
  </div>

  <div
    class="menu settings-menu"
    [@settingsMenu]="!!showSettingsMenu ? 'show' : 'hide'"
  >
    <app-settings-menu
      (closeMenu)="onToggleSettingsMenu()"
      (changeNightViewMode)="isNightModeActive = $event"
      [isNightModeActive]="isNightModeActive"
    >
    </app-settings-menu>
  </div>

  <div class="menu bookmark-menu" *ngIf="showBookmarkMenu">
    <app-bookmark (closeMenu)="onToggleBookmarkMenu()"></app-bookmark>
  </div>

  <div
    class="pdf-container"
    #pdf_container
    [ngClass]="{
      'night-view': isNightModeActive,
      'light-view': isNightModeActive
    }"
  >
    <div
      class="finger-gesture"
      [ngStyle]="{ height: fingerSwipeHeight + 'px' }"
      (swipeleft)="onChangePage(navigationSide.right)"
      (swiperight)="onChangePage(navigationSide.left)"
      (pinchin)="onZoomIn($event)"
      (pinchout)="onZoomOut($event)"
    ></div>

    <pdf-viewer
      #pdf_viewer
      class="ng-pdf-viewer"
      *ngIf="!!currentPage"
      src="../../assets/data/private/buyuk-cevsen.pdf"
      [zoom]="zoom"
      (page-rendered)="pageRendered()"
      [render-text]="false"
      [show-all]="false"
      [original-size]="false"
      [page]="!!currentPage ? currentPage.pageNumber : 1"
    >
    </pdf-viewer>
  </div>

  <div
    class="page-info"
    *ngIf="currentPage && currentPage.description"
    [@pageInfoAnimation]="showPageInfo ? 'show' : 'hide'"
  >
    <div class="info">
      {{ currentPage.description }}
    </div>
  </div>
</ion-content>

<div class="modal-container" *ngIf="showAppRate">
  <app-app-rate></app-app-rate>
</div>

<div class="modal-container" *ngIf="showExitModal">
  <app-exit-modal (closeModal)="onCloseExitModal()"></app-exit-modal>
</div>
