.finger-swipe {
	position: absolute;
	z-index: 10;
	width: 100%;
	touch-action:unset !important;
}

.menu{
	position: absolute;
	z-index: 20;
	width: 100%;
	height: 100%;
}

pdf-viewer {
	display: block;
}
