<div *ngIf="currentPage" class="page-bar">
  <div class="range-bar">
    <ion-range color="light" [value]="currentPage.pageIndex" (ionChange)="onSelectPage($event)"
      [min]="firstPage.pageIndex" [max]="lastPage.pageIndex">
      <ion-label slot="start" color="light">{{firstPage.pageNumber}}</ion-label>
      <ion-label slot="end" color="light">{{lastPage.pageNumber}}</ion-label>
    </ion-range>
  </div>

  <div class="info">
    <div class="pageName">
      sayfa: {{currentPage.pageNumber}}
    </div>
    <div class="description" *ngIf="currentPage.description">
      {{currentPage.description}}
    </div>
  </div>
</div>